<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./css/style.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
	</head>
	<body>

        <div id="playground">
            <div class="card">
				<span class="symbol">A</span>
				<span class="value">A</span>
			</div>
            <div class="card">
				<span class="symbol">B</span>
				<span class="value">B</span>
			</div>
            <div class="card">
				<span class="symbol">C</span>
				<span class="value">C</span>
			</div>
            <div class="card">
                <span class="symbol">D</span>
                <span class="value">D</span>
			</div>
        </div>

        <div class="message">
            <h2 id="message">wdvvdc</h2>
        </div>

        <div id="bolle">
            <input type="number" id="bolle-input" placeholder="enter your bet">
            <button id="bolle-submit">Place bet</button>
        </div>
        <div id="score">
            <table id="curr">
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                </tr>
            </table>

            <table id="history">
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
            </table>
        </div>

		<div id="cards">
            <div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
            <div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
            <div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
<div class="card">
				<span class="symbol"></span>
				<span class="value"></span>
			</div>
        </div>

		<div id="screen1">
			<h1>welcome to the game</h1>
			<h2>game name: Minus</h2>

			<h2>
				players online :
				<span id="players-online"><%= players.length %></span>
			</h2>

            <div id="players-name">
            <% for(let i=0;i<players.length;i++) { %>
                <h3><%= players[i].name %></h3>
            <% } %>
            </div>
            <% if(players.length < 4) { %>
                <h3>Enter your name to join the game</h3>
                <input id="player-name" type="text" autofocus placeholder="enter name" />
                <button id="start-game">start game</button>
            <% }else{ %>
                <h3>Sorry but room is already full</h3>
            <% } %>
			
		</div>

		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="./js/index.js"></script>
	</body>
</html>
